<h1>SignUp Form</h1>

<form action="/register" method="POST">
    <input type="text" placeholder="Username" name="user[username]">
    <input type="password" placeholder="Password" name="user[password]">
    <button>Sumbit</button>
</form>